<!DOCTYPE html>
<html>

<head>
  <title>g4Fixtures Demo</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <style type="text/css">
  table td {
    line-height: 80px!important;
    vertical-align: middle;
    text-transform: capitalize;
  }

  .btn-group {
    margin: 20px 0;
  }
  </style>
</head>

<body>
  <div class="container" ng-app="g4FixturesDemo">
    <h1>g4Fixtures Demo</h1>

    <div ng-controller="UsersCtrl">
      <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="addUser()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Create random user</button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>&nbsp;</th>
            <th>Title</th>
            <th>First name</th>
            <th>Last name</th>
            <th>&nbsp;</th>
          </tr>
          <tr ng-repeat="user in users">
            <td> {{ $index + 1 }} </td>
            <td> <img class="img-circle" ng-src="{{ user.picture.thumbnail }}" /> </td>
            <td> {{ user.name.title }} </td>
            <td> {{ user.name.first}} </td>
            <td> {{ user.name.last }} </td>
            <td>
              <button type="button" class="btn btn-danger" ng-click="deleteUser(user.id)">Delete</button>
            </td>
          </tr>
          <tr ng-show="!users.length">
            <td colspan="6" class="text-center">No users</td>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script type="text/javascript" src="bower_components/amplify/lib/amplify.store.js"></script>
  <script type="text/javascript" src="bower_components/g4-fixtures/g4-fixtures.js"></script>

  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/users/users.resource.js"></script>
  <script type="text/javascript" src="app/users/users.controller.js"></script>
  <script type="text/javascript" src="app/users/users.fixture.js"></script>

</body>

</html>
